@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #171717;
  --txt: #fff;
  --violet: #7733FF;
  --border-yellow: #F7A21E;
  --tab-btn: #232732;
}

.btn {
  box-shadow: 10px 10px 12px 0px #00000040;
  box-shadow: -7px -7px 10px 0px #FFFFFF40; 
  color: var(--txt);
  line-height: 28px;
  font-size: 11px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: var(--txt);
}

.heading-divider {
  height: 5px;
  background: var(--violet);
  border-radius: 33px;
}

.divider-color {
  background: var(--border-yellow);
  height: 5px;
  border-radius: 33px;
}

/* project tab */

.tab-btn {
  transition: background-color 0.3s ease-in-out;
  box-shadow: 10px 10px 20px 0px #00000040;
  box-shadow: -10px -10px 20px 0px #FFFFFF40;
  background-color: var(--tab-btn);
  color: var(--txt);
  line-height: 28px;
  font-size: 11px;
}

.tab-btn.active {
  background-color: var(--violet);
}
